body { background-color: red; }

@media screen and (min-width: 600px) {
    body {background-color: orange;}
}

@media screen and (min-width: 800px) {
    body {background-color: yellow;}
}

.article {
    display: inline;
    border: solid 20px black;
}