p {
    color: red;
}

#teste1 {
    color: blue;
}

#teste1 {
    display: block;
    height: 100px;
    margin: 35px;
    padding: 35px;
    border: solid 20px black;
}

* {
    color: black !important;
}