header {
    background-color: yellow;
    border: solid black 5px;
    height: 85px;
    text-align: center;
}

#middle {
    display: flex;
    height: 525px;
}

main {
    background-color: cyan;
    border: solid black 5px;
    width: 80%;
    display: inline;
}

nav {
    background-color: gray;
    border: solid black 5px;
    width: 20%;
    display: inline;
}

footer {
    text-align: center;
    background-color: red;
    border: solid black 5px;
    height: 85px;
}